%footer.footer
  .container
    .powered-by-diaspora.pull-left
      = link_to "Renegade Network Solutions", "https://renegade.network"
    %ul#footer_nav.pull-right
      = render partial: "shared/links"
